div.containerx iframe{
    display: block;
    width: 400px;
    height: 400px;
}
div.containerx img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}
/* AIR CONTAINER STUFF */
.content-container{
    background-color: rgba(54, 82, 120, 0.877);
    color: white;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 9px 9px 7px -2px #888;
    margin: 3% 2% 6% 2%;
    padding: 2vh 8vh;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 0 8%;
}
.project-data{
    display: flex;
    justify-content:space-evenly;
    font-size: 1.4vw;
    margin-top: 2%;
}
.project-des{
    /* display: flex; */
    /* justify-content: center; */
    font-size: 2.0vw;
    margin: 2% 0;
    padding: 0 8%;
}
