<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!------------------------- BOOTSTRAP CSS LINKS ---------------------------->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/main.css"> <!-- custom -->
    <link rel="shortcut icon" href="data:/image/x-icon;," type="image/x-icon"> 
    {% block html_head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body class="portfolio-bg">

    <!--top navy border with image coming down (if space)-->
    <div class="top-navy"></div>
    <img class="flag-image" src="/static/images/pfologo-rvbg.png">

    <!--bootstrap navbar. look at bootstrap website for more options------>
    <nav class="navbar navbar-expand-lg navbar-light portfolio-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item spaced">
              <a class="add-bottom nav-link" aria-current="page" href="{{url_for('views.home')}}">Home</a>
            </li>
            <li class="nav-item spaced">
              <a class="add-bottom nav-link" href="{{url_for('views.projects')}}">Projects</a>
            </li>
            <li class="nav-item spaced">
              <a class="add-bottom nav-link" href="{{url_for('views.resume')}}">Resume</a>
            </li>
          </ul>
          <!--SEARCH BAR FOR PROJECTS-->
          <form class="d-flex ml-auto" action="{{url_for('views.projects')}}">
            <input class="form-control me-2" type="search" placeholder="Search Projects" aria-label="Search" name="name">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!----------- CONTENT ----------->
    <div class="container">
      {% block content %} 
      {% endblock %}
    </div>

    <!------------------------- JS FOR BOOTSTRAP ANI ---------------------------->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!---------------- OWN JS SCRIPTS -------------------->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>

  </body>
</html>