{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="static/styles/home.css">
{% endblock %}

{% block title %}Home{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 
<!-- <h1 class="main-title" align="center">
    Hello! I'm Piero Fabrizzio Orderique
</h1>  -->

<div class="main-entrance-box">
    <div class="textbox">
        <h1 class="entrance-font">
            <span style="color: crimson;">Hello! </span> I'm Piero.
        </h1>

        <h2>
            <div class="subtitle">
                Computer Science Gates Scholar at 
                <span style="color:crimson;
                            font-weight: bold;">
                    MIT
                </span>
            </div>
        </h2>
    </div>
    <a class="resume-button" href="static/docs/resume.pdf" download="OrderiquePieroResume">Download Resume</a>
</div>

<p align="center">
    You are the {{visitor_number}}th person to visit the site!
    <br>
    <br>
    I am current sophomore at MIT studying Computer Science and Engineering. 
    My hobbies include programming, biking, and swimming &#127946;
</p>

{% endblock %}
