{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="static/styles/home.css">
{% endblock %}

{% block title %}Home{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 
<!-- <h1 class="main-title" align="center">
    Hello! I'm Piero Fabrizzio Orderique
</h1>  -->

<div class="main-entrance-box">
    <div class="textbox">
        <h1 class="entrance-font">
            <span style="color: crimson;">Hello! </span> I'm Piero.
        </h1>

        <h2>
            <div class="subtitle">
                Computer Science Gates Scholar at 
                <span style="color:crimson;
                            font-weight: bold;">
                    MIT
                </span>
            </div>
        </h2>
    </div>
    <a class="resume-button" href="static/docs/resume.pdf" download="OrderiquePieroResume">Download Resume</a>
</div>

<div class="about-section">
    <div class="about-textbox">
        <div style="
            font-size: 2.125rem;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            font-weight: 400;
            line-height: 1.235;
            letter-spacing: 0.00735em;">
            ABOUT ME
        </div>
        <div style="text-align: center; width: 80%; margin: 6vh 10% 0px;">
            <p class="about-text">
                Hi! My name is Jenna McClellan and I'm a sophomore at MIT studying computer science. 
                I am fascinated by back-end software development and data engineering, and am always looking 
                for opportunities to make impact with code.
            </p>
            <p class="about-text">
                Hi! My name is Jenna McClellan and I'm a sophomore at MIT studying computer science. 
                I am fascinated by back-end software development and data engineering, and am always looking 
                for opportunities to make impact with code.
            </p>
            <p class="about-text">
                Hi! My name is Jenna McClellan and I'm a sophomore at MIT studying computer science. 
                I am fascinated by back-end software development and data engineering, and am always looking 
                for opportunities to make impact with code.
            </p>
        </div>
    </div>
    <div class="slide-show">
        <img src="/static/images/me.jpg">
    </div>
</div>

<p align="center">
    You are the {{visitor_number}}th person to visit the site!
    <br>
    <br>
    I am current sophomore at MIT studying Computer Science and Engineering. 
    My hobbies include programming, biking, and swimming &#127946;
</p>

{% endblock %}
