{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="static/styles/home.css">
{% endblock %}

{% block title %}Home{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 
<!-- <h1 class="main-title" align="center">
    Hello! I'm Piero Fabrizzio Orderique
</h1>  -->

<div class="main-entrance-box">
    <div class="textbox">
        <h1 class="entrance-font">
            <span style="color: crimson;">Hello! </span> I'm Piero.
        </h1>

        <h2>
            <div class="subtitle">
                Computer Science Gates Scholar at 
                <span style="color:crimson;
                            font-weight: bold;">
                    MIT
                </span>
            </div>
        </h2>
    </div>
    <a class="resume-button" href="static/docs/resume.pdf" download="OrderiquePieroResume">Download Resume</a>
</div>

<div class="about-section">
    <div class="about-textbox">
        <div style="
            font-size: 2.125rem;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            font-weight: 400;
            line-height: 1.235;
            letter-spacing: 0.00735em;">
            ABOUT ME
        </div>
        <div style="text-align: center; width: 80%; margin: 6vh 10% 0px;">
            <p class="about-text">
                Welcome {{visitor_number}}th visitor! My name is Piero (Fabrizzio) Orderique and I'm a sophomore 
                at MIT studying computer science and engineering. 
                My hobbies include swimming &#127946;, biking, and of course, programming!
                I enjoy data automation and visualizations as well as back-end software development, but I'm also 
                interested in topics like ML, IOT, and VR!
            </p>
            <p class="about-text">
                I also enjoy creating code for good -- I have performed research and data automation/visualizations 
                for the MIT Office of Sustainability, where I was really able to have an impact on my school's future.
                I am always looking for opportunities to make impact with code!
            </p>
        </div>
    </div>
    <div class="slide-show">
        <img src="/static/images/me.jpg">
    </div>
</div>

<div class="skills-section">
    <div class="skills-title">
        <h3>SKILLS</h3>
    </div>
    <div class="skills">
        <h6 class="skills-subtitle">PROGRAMMING LANGUAGES</h6>
        <p class="skills-text">
            Python, Java, C++, JavaScript, SQL, HTML/CSS, LaTeX
        </p>
        <h6 class="skills-subtitle">TECHNOLOGIES</h6>
        <p class="skills-text">
            Flask, Android Studio, Linux, Processing, Excel, Git, ArcGIS, NumPy, Matplotlib,
            Arduino
        </p>
        <h6 class="skills-subtitle">CERTIFICATES</h6>
        <p class="skills-text">
            Esri: GIS Basics, 3D Visualization, Querying Data, 
            IBM: Machine Learning with Python, 
            Microsoft: Introduction to C++, 
            HarvardX: Data Science R Basics, 
            UC San Diego: How Virtual Reality Works
        </p>
    </div>
</div>

<div class="xp-section">
    <div class="xp-header">
        EXPERIENCE
    </div>
    <table style="padding: 6vh 0 0 0;">
        <tbody>
            <tr>
                <td style="width: 10%; vertical-align: text-top;">
                    <img style="width: 100%; border-radius: 5px;" src="/static/images/MIT_logo.png" alt="ihtfp">
                </td>
                <td style="width: 90%; padding: 0 5% 4vh 5%;">   
                    <h5 class="xp-title">SOFTWARE ENGINEER - MITOS</h5>
                    <p class="xp-body">
                        <i>Cambridge, MA (Remote)</i><br>
                        <i>2020-2021</i>
                        <div></div>
                        <div></div>
                        <p style="margin: 1vh 0 2vh 0;">
                            The MIT Office of Sustainability (MITOS) team focuses on preparing MIT for climate 
                            change. I worked with the Flood Risk Analysis team to see the impacts of future storm flooding on our campus.
                        </p>
                        <ul>
                            <li>Cut down data processing time in half using SQL queries in ArcGIS Pro </li>
                            <li>Created custom VBA functions for Excel to enhance project scalability and efficiency for future analysis</li>
                            <li>Work helped identify a potential $600M+ worth of damage to university property from storm flooding simulation</li>
                            <li>Design a Python package for reading and visualizing 300+ specialized data files from models using SciPy and matplotlib while practicing OOD</li>
                            <li>Reduced space storage by 99.99% (from 1.1TB to &lt 1MB) by filtering large global datasets on a remote linux cluster</li>
                            <li>Created data visualizations (matplotlib) for precipitation and temperature predictions in the Cambridge area</li>
                        </ul>
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 10%; vertical-align: text-top;">
                    <img style="width: 100%; border-radius: 5px;" src="/static/images/borinquenfoods_logo.jpg" alt="foods">
                </td>
                <td style="width: 90%; padding: 0 5% 4vh 5%;">   
                    <h5 class="xp-title">PROJECT ASSOCIATE</h5>
                    <p class="xp-body">
                        <i>Columbus, GA</i><br>
                        <i>2017-2020</i>
                        <div></div>
                        <div></div>
                        <p style="margin: 1vh 0 2vh 0;">
                            Borinquen Foods is a family owned, Carribean style restaurant/store that sells ethnic foods from Central and South America.
                        </p>
                        <ul>
                            <li>Built and implemented an Arduino security system that sends messages to the owner when activated</li>
                            <li>Updated security systems and feedback on a budget</li>
                            <li>Quadrupled the restaurant’s Google reviews and increased market reach by designing advertisements on Canva</li>
                            <li>Digitized checking accounts using Excel</li>
                        </ul>
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 10%; vertical-align: text-top;">
                    <img style="width: 100%; border-radius: 5px;" src="/static/images/mathnasium_logo.jpg" alt="foods">
                </td>
                <td style="width: 90%; padding: 0 5% 4vh 5%;">   
                    <h5 class="xp-title">Math Instructor</h5>
                    <p class="xp-body">
                        <i>Columbus, GA</i><br>
                        <i>2019</i>
                        <div></div>
                        <div></div>
                        <p style="margin: 1vh 0 2vh 0;">
                            Mathnasium is a nationwide math tutoring business helping students and adults enjoy learning mathematics.
                        </p>
                        <ul>
                            <li>Instructed adults for exams (GRE, ASVAB, etc.) and oversaw the instruction of 70+ K-12 students</li>
                            <li>Received 100% positive evaluations and rescheduling rates</li>
                            <li>Accommodated Spanish-speaking students and applied training to work with students with learning disabilities</li>
                        </ul>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}
