{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="static/styles/projects.css">
{% endblock %}

{% block title %}Projects{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 

{% if projects == [] %}
    <h1 class="main-title" align="center">
        No Projects Found
    </h1> 
    <p align="center" style="margin-top: 50%;">
        Click
        <a style="color: crimson;" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a> 
        for a polynomial-time algorithm of the <span style="font-weight: bold; color: black;">Halting Problem</span>
    </p>
{% else %}
<h1 class="main-title" align="center">
    Projects
</h1> 
<div class="projects-grid">
    {% for project_tup in projects %}
        <div class="projects-row">
            {% if project_tup[1] != "" %}
            <div class="col air-container">
                <h3> 
                    <a href="{{url_for('views.project', name=project_tup[0].name)}}">
                    <b>{{project_tup[0].name}}</b></a> 
                </h3>
                <div class="image-container">
                    <a href="{{url_for('views.project', name=project_tup[0].name)}}">
                        <img src="{{project_tup[0].image_link}}">
                    </a>
                </div>   
                <div class="project-data">
                    <div>Date: {{project_tup[0].date_created}}</div>
                    <div>Views: {{project_tup[0].views}}</div>
                </div>  
                <div class="project-des">
                    {{project_tup[0].short_description}}
                </div>           
            </div>

            <div class="col air-container">
                <h3>
                    <a href="{{url_for('views.project', name=project_tup[1].name)}}">
                    <b>{{project_tup[1].name}}</b></a> 
                </h3>
                <div class="image-container">
                    <a href="{{url_for('views.project', name=project_tup[1].name)}}">
                        <img src="{{project_tup[1].image_link}}">
                        </a>
                </div>
                <div class="project-data">
                    <div>Date: {{project_tup[1].date_created}}</div>
                    <div>Views: {{project_tup[1].views}}</div>
                </div> 
                <div class="project-des">
                    {{project_tup[1].short_description}}
                </div> 
            </div>
            {% else %}
            <div class="col air-container" style="margin: 0 2%">
                <h3> 
                    <a href="{{url_for('views.project', name=project_tup[0].name)}}">
                    <b>{{project_tup[0].name}}</b></a> 
                </h3>
                <div class="image-container">
                    <a href="{{url_for('views.project', name=project_tup[0].name)}}">
                        <img style="max-width: 50%;" src="{{project_tup[0].image_link}}">
                    </a>
                </div>   
                <div class="project-data">
                    <div>Date: {{project_tup[0].date_created}}</div>
                    <div>Views: {{project_tup[0].views}}</div>
                </div>    
                <div class="project-des">
                    {{project_tup[0].short_description}}
                </div>          
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}