{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="../static/styles/single_project.css">
{% endblock %}

{% block title %}{{project.name}}{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 

{% if project is not none%}

    <h1 class="main-title" align="center">
        {{project.name}}
    </h1> 

    {% if project.video_link == "" %}
        <img src="{{project.image_link}}">
    {% else %}
        <iframe src="{{project.video_link}}" frameborder="0"></iframe>
    {% endif %}

    <p>
        {{project.long_description}}
    </p>

{% else %}

    <h1 class="main-title" align="center">
        Project Does Not Exist.  
    </h1> 
    <p align="center" style="margin-top: 50%;">
        Click
        <a style="color: crimson;" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a> 
        for proof that <span style="font-weight: bold; color: black;">P=NP</span>
    </p>

{% endif %}

{% endblock %}