{% extends "base.html" %} 

{% block html_head %}
    <link rel="stylesheet" type="text/css" href="../static/styles/single_project.css">
{% endblock %}

{% block title %}{{project.name}}{% endblock %}

<!----------- CONTENT ----------->
{% block content %} 

{% if project is not none%}

    <div class="content-container">
        <h3 class="main-title" align="center">
            {{project.name}}
        </h3> 

        <div class="image-container">
            <!-- {% if project.video_link == "" %}
                <img src="{{project.image_link}}">
            {% else %}
                <iframe src="{{project.video_link}}" frameborder="0"></iframe>
            {% endif %} -->
            <img src="{{project.image_link}}">
        </div>

        <div class="project-data">
            <div>Date Created: {{project.date_created}}</div>
            <div>Views: {{project.views}}</div>
        </div> 

        <div class="project-des">
            {{project.long_description}}
            {% if project.project_link is not none %}
                See more 
                <a href="{{project.project_link}}" style="color: rgb(255, 183, 49);">here</a>.
            {% endif %}
        </div>

    </div>

{% else %}

    <h1 class="main-title" align="center">
        Project Does Not Exist.  
    </h1> 
    <p align="center" style="margin-top: 50%;">
        Click
        <a style="color: crimson;" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a> 
        for proof that <span style="font-weight: bold; color: black;">P=NP</span>
    </p>

{% endif %}

{% endblock %}